<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Total products</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.total_products %></td>
        <% if current_user.admin? %>
          <td><%= link_to 'Show', restaurant %></td>
          <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
          <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>

        <table>
          <tbody>
            <% restaurant.products.each do |product| %>
              <tr>
                <%= form_tag('/orders') do %>
                  <%= hidden_field_tag :product_id, product.id %>
                  <td><%= product.name %></td>
                  <td><%= product.value %></td>
                  <td><%= submit_tag 'Order' %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>

      </tr>
    <% end %>
  </tbody>
</table>
